# ignore files of project
/backend/.env.development

# ignore files of backend
**/__pycache__
/backend/.vscode
/backend/.env
/backend/.idea
/backend/venv
/backend/assets/knowledge_files/*

# ignore files of frontend
# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js

# ignore common files of project
design_database_diagram.png

# testing
/frontend/coverage

# production
/frontend/build


# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*